body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1; 
}

h1 {
  font-size: 3.5rem;
  margin: 10px;
  text-align: center;
}


.left {
  float: left;
}


.tile-image {
  margin: 100px;
  width: 300px;
}













footer {
  text-align: right;
  color: midnightblue;
}

